<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Listado</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <style>
        @media print {
            .no-print {
                display: none;
            }
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
        }
    </style>
</head>

<body onload="window.print()">
    <div class="container">
        <h2>Listado Inventario</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Desc</th>
                </tr>
            </thead>
            <tbody>{% for i in items %}<tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.nombre }}</td>
                    <td>{{ i.tipo_nombre }}</td>
                    <td>{{ i.descripcion }}</td>
                </tr>{% endfor %}</tbody>
        </table>
    </div>
</body>

</html>